* {
    margin: 0;
}
.display-n {
    display: none;
}
.testborder {
    border: 1px solid green;
}

h1,h2,h3,p,span {
    margin: 0;
    color: #0E2E3D;
}
.bold {
    font-weight: bold;
}
h1 {
    font-weight: normal;
    font-size: 48px;
}
h2 {
    font-weight: normal;
    font-size: 32px;
}
h3 {
    font-weight: normal;
    font-size: 24px;
}
p {
    font-size: 16px;
}
span {
    font-size: 16px;
}
a, a:hover, a:visited, a:link, a:active {
    color: #0E2E3D;
    text-decoration:none;
    outline: none;
}
.small {
    font-size: 12px;
}
.slogan {
    font-size: 128px;
}
.time {
    font-size: 48px;
}
.alert {
    color: red;
}
ul {
    list-style-type: none;
}
button {
    cursor: pointer;
    border: none;
}
input[type=text]  {
    margin: 0;
    padding: 0;
    height: 60px;
    width: 100%;
    border: none;
    text-indent: 15px;
}
input[type=checkbox] {
    display: none;
}
input[type=checkbox]+span {
    cursor: pointer;
    display: inline-block;
    padding-left: 30px;
    /* line-height: 24px; */
    background: url(./imgs/unchecked.svg) no-repeat left top;
    user-select: none;
}
input[type=checkbox]:checked+span {
    display: inline-block;
    padding-left: 30px;
    /* line-height: 24px; */
    background-image: url(./imgs/checked.svg);
}

.z_button_correct {
    width: 180px;
    height: 60px;
    background-color: #FEAC00;
    justify-content: center;
    align-items: center;
}
.z_button_cancel {
    width: 180px;
    height: 60px;
    background-color: #F1EDEA;
    justify-content: center;
    align-items: center;
}

.z_d_inline {
    display: inline;
}
.z_d_flex {
    display: flex;
}

.z_mt-240 {
    margin-top: 240px;
}
.z_mr-5 {
    margin-right: 5px;
}
.z_mr-50 {
    margin-right: 50px;
}
.z_mb-5 {
    margin-bottom: 5px;
}
.z_mb-20 {
    margin-bottom: 20px;
}
.z_mb-30 {
    margin-bottom: 30px;
}
.z_mb-40 {
    margin-bottom: 40px;
}
.z_mb-50 {
    margin-bottom: 50px;
}
.z_mb-60 {
    margin-bottom: 60px;
}
.z_justify-content_center {
    justify-content: center;
}
.z_justify-content_space_between {
    justify-content: space-between;
}
.z_justify-content_space_around {
    justify-content: space-around;
}
.z_align-items_center {
    align-items: center;
}
.z_text_center {
    text-align: center;
}

.radio_finish {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FEAC00;
    left: 50%;
    transform:translateX(-50%);
    margin-top: 40px;
}
.radio {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #b1b1b1;
    left: 50%;
    transform:translateX(-50%);
    margin-top: 40px;
}






.z_input_container {
    width: 525px;

}
.z_all-center {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.z_margin-center {
    left: 0;
    right: 0;
    margin: auto;
}
body {
    margin: 0;
    background-color: #f4f4f4;
}
.z_container {
    margin: 0 200px;
    margin-top: 160px;
    height: 980px;
}
.z_progress {
    position: relative;
    height: 100px;
    margin-bottom: 50px;
}
.z_progress_bar {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color:#b1b1b1;
    bottom: 22px;
}
.z_progress_bar_step1 {
    z-index: -1;
    position: absolute;
    width: 10%;
    height: 1px;
    background-color:#ffae00;
    bottom: 22px;
}
.z_progress_bar_step2 {
    z-index: -1;
    position: absolute;
    width: 30%;
    height: 1px;
    background-color:#ffae00;
    bottom: 22px;
}
.z_progress_bar_step3 {
    z-index: -1;
    position: absolute;
    width: 50%;
    height: 1px;
    background-color:#ffae00;
    bottom: 22px;
}
.z_progress_bar_step4 {
    z-index: -1;
    position: absolute;
    width: 70%;
    height: 1px;
    background-color:#ffae00;
    bottom: 22px;
}
.z_progress_bar_step5 {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color:#ffae00;
    bottom: 22px;
}
.z_barcontainer {
    width: 100%;
}
.z_barcontainer img {
    width: 25%;
}
.z_paytitle {
    align-items: flex-end;
}
.z_paydata_container {
    width: 740px;
}
.z_chebox_intput {
    width: 600px;
    align-items: center;
    justify-content: space-between;
}
.z_text_intput {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.z_check_container {
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.z_checkbox_container {
    width: 190px;
    height: 35px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.z_input_medium {
    width: 255px;
}

.z_paycard {
    width: 115px;
    height: 30px;
    top: 0;
    bottom: 0;
    margin: auto auto;
    margin-left: 20px;
}
.z_creditcard {
    width: 45px;
    height: 30px;
    top: 0;
    bottom: 0;
    margin: auto auto;
    margin-left: 20px;
}
.paydropdown {
    position: relative;
}
.paydropdown>button {
    width: 525px;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#bankListBtn span {
    opacity: 50%;
}
.banklist {
    width: 100%;
    background-color: #fff;
    position: absolute;
    text-align: center;
    /* transform: rotateX(180deg); */
}
.z_pay_alert {
    height: 30px;
    margin-left: 75px;
    display: flex;
    align-items: center;
}

.z_twobtn {
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}
.pay_success_container {
    text-align: center;
    margin-top: 250px;
}
.z_pay_detail_img {
    width: 50%;
}
.z_pay_detail_img img{
    width: 100%;
}
.z_pay_detail_text {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.z_pay_detail_text span {
    color: #0E2E3D;
}