* {
    margin: 0;
}
.display-n {
    display: none;
}
.testborder {
    border: 1px solid green;
}

h1,h2,h3,p,span {
    margin: 0;
    color: #0E2E3D;
}
.bold {
    font-weight: bold;
}
h1 {
    font-weight: normal;
    font-size: 48px;
}
h2 {
    font-weight: normal;
    font-size: 32px;
}
h3 {
    font-weight: normal;
    font-size: 24px;
}
p {
    font-size: 16px;
}
span {
    font-size: 16px;
}
a, a:hover, a:visited, a:link, a:active {
    color: #0E2E3D;
    text-decoration:none;
    outline: none;
}

.small {
    font-size: 12px;
}
.slogan {
    font-size: 128px;
}
.time {
    font-size: 48px;
}
.alert {
    color: red;
}
ul {
    list-style-type: none;
}
button {
    cursor: pointer;
    border: none;
}
input[type=text]  {
    margin: 0;
    padding: 0;
    height: 60px;
    border: none;
    /* text-indent: 15px; */
}
input[type=checkbox] {
    display: none;
}
input[type=checkbox]+span {
    cursor: pointer;
    display: inline-block;
    padding-left: 30px;
    /* line-height: 24px; */
    background: url(../imgs/unchecked.svg) no-repeat left top;
    user-select: none;
}
input[type=checkbox]:checked+span {
    display: inline-block;
    padding-left: 30px;
    /* line-height: 24px; */
    background-image: url(../imgs/checked.svg);
}

.z_button_correct {
    width: 180px;
    height: 60px;
    background-color: #FEAC00;

}
.z_button_correct>p,.z_button_cancel>p {
    font-size: 24px;
    font-weight: bold;
}
.z_button_cancel {
    width: 180px;
    height: 60px;
    background-color: #F1EDEA;

}


.z_d_inline {
    display: inline;
}
.z_d_flex {
    display: flex;
}

.z_mt-240 {
    margin-top: 240px;
}
.z_mr-5 {
    margin-right: 5px;
}
.z_mr-50 {
    margin-right: 50px;
}

.z_mb-0 {
    margin-bottom: 0px;
}
.z_mb-5 {
    margin-bottom: 5px;
}
.z_mb-20 {
    margin-bottom: 20px;
}
.z_mb-30 {
    margin-bottom: 30px;
}
.z_mb-40 {
    margin-bottom: 40px;
}
.z_mb-50 {
    margin-bottom: 50px;
}
.z_mb-60 {
    margin-bottom: 60px;
}
.z_justify-content_center {
    justify-content: center;
}
.z_justify-content_space_between {
    justify-content: space-between;
}
.z_justify-content_space_around {
    justify-content: space-around;
}
.z_align-items_center {
    align-items: center;
}
.z_input_text {
    text-align: center;
    width: 525px;
}
.z_bank_name {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.z_radio_finish {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FEAC00;
    left: 50%;
    transform:translateX(-50%);
    margin-top: 40px;
}
.z_radio {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #b1b1b1;
    left: 50%;
    transform:translateX(-50%);
    margin-top: 40px;
}







.z_all-center {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.z_margin-center {
    left: 0;
    right: 0;
    margin: auto;
}
body {
    margin: 0;
    background-color: #f4f4f4;
}
.z_container {
    margin: auto;
    width: 1280px;
    padding: 0 25px;
    margin-bottom: 90px;
    /* height: 980px; */
    margin-top: 100px;
}
.z_input_container {
    width: 525px;
    display: flex;
    justify-content: space-between;
}
.z_progress {
    z-index: -1;
    border: 1px solid red;
    position: relative;
    height: 100px;
    margin-bottom: 50px;
}
.z_progress_bar {
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color:#b1b1b1;
    bottom: 22px;
}
.z_progress_bar_step1 {
    z-index: -1;
    position: absolute;
    width: 10%;
    height: 1px;
    background-color:#ffae00;
    bottom: 22px;
}
.z_progress_bar_step2 {
    z-index: -1;
    position: absolute;
    width: 30%;
    height: 1px;
    background-color:#ffae00;
    bottom: 22px;
}
.z_progress_bar_step3 {
    z-index: -1;
    position: absolute;
    width: 50%;
    height: 1px;
    background-color:#ffae00;
    bottom: 22px;
}
.z_progress_bar_step4 {
    z-index: -1;
    position: absolute;
    width: 70%;
    height: 1px;
    background-color:#ffae00;
    bottom: 22px;
}
.z_progress_bar_step5 {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color:#ffae00;
    bottom: 22px;
}

.z_radio_finish {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FEAC00;
    left: 50%;
    transform:translateX(-50%);
    margin-top: 40px;
}
.z_radio {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #b1b1b1;
    left: 50%;
    transform:translateX(-50%);
    margin-top: 40px;
}









.z_progress {
    z-index: -1;
    border: 1px solid red;
    position: relative;
    height: 100px;
    margin-bottom: 50px;
}
.z_progress_bar {
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color:#b1b1b1;
    bottom: 22px;
}
.z_progress_bar_step1 {
    z-index: -1;
    position: absolute;
    width: 10%;
    height: 1px;
    background-color:#ffae00;
    bottom: 22px;
}
.z_progress_bar_step2 {
    z-index: -1;
    position: absolute;
    width: 30%;
    height: 1px;
    background-color:#ffae00;
    bottom: 22px;
}
.z_progress_bar_step3 {
    z-index: -1;
    position: absolute;
    width: 50%;
    height: 1px;
    background-color:#ffae00;
    bottom: 22px;
}
.z_progress_bar_step4 {
    z-index: -1;
    position: absolute;
    width: 70%;
    height: 1px;
    background-color:#ffae00;
    bottom: 22px;
}
.z_progress_bar_step5 {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color:#ffae00;
    bottom: 22px;
}
.z_barcontainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.z_paytitle_container {
    align-items: flex-end;
    display: flex;
    margin-bottom: 30px;
}
.z_paytitle_detail {
    margin-left: 50px;
}
.z_paydata_container {
    width: 730px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.z_chebox_intput {
    width: 600px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.z_text_intput {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.z_text_intput_last {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.z_check_container {
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.z_checkbox_container {
    width: 190px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.z_checkbox_option_container {
    display: flex;
    align-items: center;
}
.z_checkbox_option {
    margin-right: 15px;
}
.z_input_medium {
    width: 255px;
    text-align: center;
}
.z_input_small {
    width: 120px;
    text-align: center;
}
.z_paycard_img {
    width: 110px;
    height: 30px;
    top: 0;
    bottom: 0;
    margin: auto auto;
    margin-left: 20px;
}
.z_paycard_phone_img {
    display: none;  
    width: 110px;
    height: 30px;
    top: 0;
    bottom: 0;
    margin: auto auto;
    margin-left: 20px; 
}
.z_creditcard_img {
    width: 45px;
    height: 30px;
    top: 0;
    bottom: 0;
    margin: auto auto;
    margin-left: 20px;
}
.z_creditcard_phone_img {
    display: none;
}
.z_paydropdown {
    width: 525px;
    position: relative;
}
.z_paydropdown>button {
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#bankListBtn span {
    opacity: 50%;
}
.banklist {
    width: 100%;
    background-color: #fff;
    position: absolute;
    text-align: center;
    /* transform: rotateX(180deg); */
}
.z_pay_alert {
    height: 30px;
    margin-left: 75px;
    display: flex;
    align-items: center;
}
.z_payagree {
    display: flex;
    margin-bottom: 30px;
}
.z_twobtn {
    width: 390px;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: auto;
}
.z_pay_detail_title {
    margin-bottom: 40px;
    text-align: center;
    font-weight: bold;
}
.z_pay_success_container {
    margin-top: 255px;
    margin-bottom: 340px;
    text-align: center;
}
.z_pay_success_title {
    font-weight: bold;
    margin-bottom: 30px;
}
.z_pay_success_tip {
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 24px;
}
.z_pay_detail_container {
    display: flex;
    margin-bottom: 50px;
}
.z_people_info_container {
    order: 0;
    margin-top: 40px;
}
.z_pay_info_container {
    order: 0;
    margin-top: 40px;
}
.z_detail_info_container {
    order: 0;
    margin-top: 40px;
}
.z_detail_icon_items_center {
    display: flex;
    align-items: center;
}
.z_detail_mb {
    margin-bottom: 5px;
}
.z_pay_detail_img {
    width: 50%;
}
.z_pay_detail_img img{
    width: 100%;
}
.z_pay_detail_text {
    margin-left: 75px;
}
.z_detail_items_name {
    font-size: 24px;
    font-weight: bold;
}
.z_detail_cost {
    font-size: 24px;
    display: inline;
    font-weight: bold;
}
.z_detail_cost_phone {
    display: none;
}
.z_pay_detail_text span {
    color: #0E2E3D;
}
.z_icon_type_mr {
    margin-right: 50px;
}
@media screen and (max-width:375px) {
    /*  */
    .nav-log-out {
        /* display: none; */
    }
    .footer {
        /* display: none; */
    }
    /*  */
    .z_button_correct>p,.z_button_cancel>p {
        font-size: 20px;
        font-weight: bold;
    }
    .z_container {
        width: 335px;
        margin-top: 0px;
        padding: 0;
    }
    .z_progress {
        display: none;
    }
    .z_paydata_container {
        width: 100%;
    }
    .z_paytitle_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .z_paytitle_detail {
        margin-left: 0;
    }
    .z_input_container {
        width: 100%;
    }
    .z_chebox_intput,.z_text_intput,.z_text_intput_last {
        width: 100%;
    }
    .z_chebox_intput>p {
        display: none;
    }
    .z_text_intput>p {
        display: none;
    }
    .z_text_intput_last>p {
        display: none;
    }
    .z_paydropdown>button {
        width: 100%;
    }
    .z_pay_alert {
        margin-left: 0;
        justify-content: center;
    }
    .z_input_small {
        width: 75px;
    }
    .z_input_medium {
        width: 160px;
    }
    .z_paycard_img {
        display: none;

    }
    .z_paycard_phone_img {
        display: block;  
        height: 30px;

        margin-left: 0;
        margin: 0 auto;
        margin-bottom: 30px; 
    }
    .z_paycard_phone_img img {
        width: 110px;
    }
    .z_creditcard_img {
        display: none;
    }
    .z_creditcard_phone_img {
        display: block;
        height: 30px;
        margin-left: 0;
        margin: 0 auto;
        margin-bottom: 30px; 
        text-align: center;

    }
    .z_creditcard_phone_img img {
        width: 45px;
    }
    .z_pay_success_container {
        width: 335;
        margin-top: 40px;
        margin-bottom: 100px;
        text-align: center;
    }
    .z_pay_success_title {
        margin-bottom: 165px;
    }
    .z_pay_success_tip_container {
        margin-bottom: 190px;
    }
    .z_pay_success_tip {
        font-size: 20px;
        margin-bottom: 0;
    }
    .z_btn_reverse {
        display: flex;
        flex-direction: row-reverse;
    }
    .z_twobtn {
        width: 335px;
    }
    .z_button_cancel,.z_button_correct {
        width: 160px;
    }
    .z_pay_detail_container {
        display: block;
    }
    .z_pay_detail_img {
        width: 100%;
    }
    .z_pay_detail_text {
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }
    .z_people_info_container {
        order: 0;
        margin-top: 40px;
    }
    .z_pay_info_container {
        order: 0;
        margin-top: 40px;
    }
    .z_detail_info_container {
        order: -1;
        margin-top: 15px;
    }
    .z_detail_items_name {
        font-size: 20px;
    }
    .z_detail_cost {
        display: none;
    }
    .z_detail_cost_phone {
        font-size: 20px;
        display: none;
        display: inline;
        font-weight: bold;
    }
    .z_icon_type_mr {
        margin-right: 30px;
    }
    .z_icon_type_nomr {
        margin: 0;
    }
}