h1,
h2,
h3,
p {
    margin: 0;
}

.bold {
    font-weight: bold;
}

h1 {
    font-weight: normal;
    font-size: 48px;
}

h2 {
    font-weight: normal;
    font-size: 32px;
}

h3 {
    font-weight: normal;
    font-size: 24px;
}

p {
    font-size: 16px;
}

.small {
    font-size: 12px;
}

.slogan {
    font-size: 128px;
}

.time {
    font-size: 48px;
}

.alert {
    color: red;
}