* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
}

.nav-log-out {
    margin: auto;
    width: 100%;
    max-width: 1920px;
    height: 100px;
    display: flex;
    background-color: #F1EDEA;
    justify-content: space-between;
    align-items: center;
    padding: 0% 200px;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-log-out a {
    font-weight: normal;
    font-size: 24px;
    color: #0E2E3D;
    text-decoration: none;
    font-weight: bold;
}

.nav-log-out div {
    width: 33.3%;
    display: flex;
    justify-content: space-between;
}

.nav-log-out div:nth-child(2) {
    justify-content: center;
}

.nav-log-out a img {
    width: 100%;
    height: 81px;
}


/*登出狀態*/

.nav-log-in {
    margin: auto;
    width: 100%;
    max-width: 1920px;
    height: 100px;
    display: flex;
    background-color: #F1EDEA;
    justify-content: space-between;
    align-items: center;
    padding: 0% 200px;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-log-in a {
    font-weight: normal;
    font-size: 24px;
    color: #0E2E3D;
    text-decoration: none;
    font-weight: bold;
}

.nav-log-in div:nth-child(2) {
    justify-content: center;
}

.nav-log-in div {
    display: flex;
    justify-content: space-between;
    width: 33.3%;
}

.nav-log-in a img {
    width: 100%;
    height: 81px;
}


/* 登入狀態*/


/* 以上是nav ----------------------------*/


/* 以下是footer-------------------------------- */

.footer {
    width: 100%;
    max-width: 1920px;
    margin: auto;
    font-weight: normal;
    font-size: 24px;
    color: #0E2E3D;
}

.footer-up {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    padding: 0 200px;
    background-color: #F1EDEA;
    justify-content: space-between;
}

.footer-left {
    width: 390px;
    height: 260px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.footer-left-up p {
    margin-bottom: 30px;
}

.footer-left-down a {
    text-decoration: none;
    color: #0E2E3D;
}

.footer-left-down a:nth-child(1),
.footer-left-down a:nth-child(2) {
    margin-right: 30px;
}

.footer-right img {
    width: 497px;
    height: 394px;
}

.footer-down div img {
    width: 30px;
    height: 28px;
}

.footer-down {
    width: 100%;
    max-width: 1920px;
    height: 80px;
    padding: 0 200px;
    background-color: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-down div {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.footer-down div:nth-child(2) {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
}

.footer-down div:nth-child(3) {
    justify-content: flex-end;
}

.footer-down div:nth-child(1) {
    justify-content: flex-start;
}

.footer-down div:nth-child(1) p,
.footer-down div:nth-child(1) img {
    margin-right: 24px;
}


/* footer---------------------------------- */