body{
    margin: 0px;
}
.navbar{
    width: 100%;
    height: 100px;
    background: #F1EDEA;
}
.step-bar1{
    width: 100%;;
    height: 100px;
    margin: 60px 20px;
    /* background: #ccc; */
}
.step-bar1{
    width: 100%;
    margin: 20px 20px;
}
.progress{
    width: 100%;
}
.progress li{
    list-style: none;
    width:20%;
    float: left;
    position: relative;
    color: #0E2E3D;
    font-size: 24px;
    font-weight: bold;

}
.progress li:after{
    content:'';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #F1AC00;
    margin: 40px; 
    /* calculate ?? */
    display: block;
}
.progress li.unfinish:after{
    background-color: #F1EDEA;

}
.progress li:before{
    content: '';
    position: absolute;
    background-color: #F1AC00;
    width: 100%;
    height: 1px;
    top: 85px;
    left: -20%;
    z-index: -1;
}
h2{
    margin-top: 40px;
    color: #0E2E3D;
    text-align: center;
}
.step-bar2{
    margin: 40px 20px;
}
.step-bar2 p{
    width: 100%;
    font-weight: normal;
    font-size: 32px;
    color: #0E2E3D;
    font-weight: bold;
}
.progress2{
    width: 100%;
    margin-top: 30px;
    height: 2px;
    background-color: #E0F1F3;
}
.progress-bar2{
    width: 16.66%;
    height: 1px;
    background-color: #f2ae00;
}
section{
    margin: 60px 20px;
    display: flex;
}
.minder p{
    font-size: 24px;
    color: #0E2E3D;
}
.select{
    margin-left: 20px;
}
input[name="gender"]{
    accent-color: red;
}

.section2{
    margin: 40px 20px;
}
/* --- 表單地獄--------- */
.container-form{
    margin: 30px 20px;
    width: 100%;
    display: flex;
}

.form-row2{
    margin-left: 20px;
}
.form-row3{
    margin-left: 20px;
}
input[type="text"], input[type="phone"]{
  display:block;
  width: 400px;
  height: 50px;
}

select {
    width: 400px;
    height: 50px;
    padding: 12px 20px;
    margin: 0 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .time{
      margin-left: 20px;
  }

/* --- 表單地獄--------- */

/* ---------租屋期限 */
.container-time{
    display: flex;
    position: relative;
}

.container-form2{
    margin-top: 20px;
    width: 100%;
    
}
.ValidFrom-row2{
    margin-left: 20px;
    display: flex;
}

.ValidFrom_Y  select{
    width: 158px;
    height: 60px;
}
.ValidFrom_M {
    margin-left: 20px;
}
.ValidFrom_M select{
    width: 158px;
    height: 60px;
}
.ValidFrom_D {
    margin-left: 20px;
}
.ValidFrom_D select{
    width: 158px;
    height: 60px;
}

.time2{
    width: 24px;
    height: 28px;
    left: 580px;
    top:55px;
    position: absolute;
}

/* ---------租屋期限 */
.time3{
    margin-top: 20px;
    margin-left: 20px;
}

/* ---------button---------- */
.container-button{
    margin-top: 30px;
}
.button-row{
    text-align: center;
}
.button {
    width: 180px;
    height: 60px;
    background-color:#F1EDEA;
    border: none;
    color: #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
}
.button2 {
    background-color:#f2ae00;
}
