h1,h2,h3,p {
color: #0E2E3D;
}
.bold {
    font-weight: bold;
}
h1 {
    font-weight: normal;
    font-size: 48px;

}
h2 {
    font-weight: normal;
    font-size: 32px;
    font-weight: bold;
}
h3 {
    font-weight: bold;
    font-size: 24px;
}

