    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: 'Josefin Sans', sans-serif;
        font-family: 'Noto Sans TC', sans-serif;
    }
    /* 以上是文字 ----------------------------*/
    
    .container {
        margin: auto;
        width: 1280px;
        padding: 0 25px;
    }
    
    body {
        background-color: #F4F4F4;
    }
    /* 首頁第一頁開始 */
    
    .x-home-page-slogan {
        width: 100%;
        max-width: 1920px;
        height: 100vh;
        max-height: 1080px;
        margin: auto;
        background: url(../imgs/cut-patrick-perkins-3wylDrjxH-E-unsplash\ 3.jpg) no-repeat center/cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
    }
    
    .x-slogan {
        margin-top: 180px;
    }
    
    .x-slogan h1 {
        font-size: 120px;
        font-weight: 900;
        color: #FEAC00;
        text-shadow: 4px 4px #F4F4F4;
    }
    
    .x-slogan h1:nth-child(1) {
        margin-bottom: -50px;
        margin-top: -100px;
    }
    
    .x-slogan h1:nth-child(2) {
        margin-bottom: 10px;
    }
    
    .x-slogan-small p {
        font-size: 24px;
        font-weight: bold;
        color: #F1EDEA;
    }
    
    .x-slogan-small p {
        margin-bottom: 40px;
    }
    
    .x-search-post button:nth-child(1) {
        margin-right: 30px;
    }
    
    .pc-button-FEAC00-280 {
        width: 280px;
        height: 60px;
        color: #0E2E3D;
        font-weight: bold;
        font-size: 24px;
        border: none;
        background-color: #FEAC00;
    }
    
    .pc-button-F4F4F4-280 {
        width: 280px;
        height: 60px;
        color: #0E2E3D;
        font-weight: bold;
        font-size: 24px;
        border: none;
        background-color: #F4F4F4;
    }
    /* 首頁共租介紹開始 */
    
    .x-home-page-introduce-symbiosis {
        width: 100%;
        max-width: 1920px;
        height: 800px;
        margin: auto;
        background: url(../imgs/cut-espolon-tequila-xCsalofaxw4-unsplash\ 1.jpg) no-repeat center/cover;
        padding-top: 188px;
        margin-bottom: 136px;
    }
    /* 首頁分租介紹開始 */
    
    .x-home-page-introduce-sublease {
        width: 100%;
        max-width: 1920px;
        height: 800px;
        margin: auto;
        background: url(../imgs/living-room-1835923_1920.jpg) no-repeat center/cover;
        padding-top: 188px;
        margin-bottom: 136px;
    }
    /* 首頁共租以及分租的內文格式 */
    
    .x-container-x-home-page {
        margin: auto;
        width: 1280px;
        padding: 0 25px;
    }
    
    .x-introduce-right {
        width: 570px;
        height: 668px;
        background-color: #F1EDEA;
        padding: 80px 100px 80px 100px;
        margin-left: auto;
        margin-right: 0;
    }
    
    .x-introduce-left {
        width: 570px;
        height: 668px;
        background-color: #F1EDEA;
        padding: 80px 100px 80px 100px;
        margin-right: auto;
        margin-left: 0;
    }
    
    .x-introduce-right h2,
    .x-introduce-left h2 {
        margin-bottom: 40px;
    }
    
    .x-introduce-right p,
    .x-introduce-left p {
        letter-spacing: 0%;
    }
    /* 刊登房屋/清潔服務開始 */
    
    .x-home-page-post-clean {
        width: 1230px;
        height: 696px;
        display: flex;
        margin: auto;
        margin-bottom: 195px;
    }
    
    .x-home-page-post-clean-left-post {
        display: flex;
        flex-direction: column;
    }
    
    .x-home-page-post-clean-right-clean {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .x-home-page-post-clean-left-post div:nth-child(1),
    .x-home-page-post-clean-right-clean div:nth-child(1) {
        width: 615px;
        height: 166px;
        background-color: #F1EDEA;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .x-home-page-post-clean-left-post div:nth-child(2) {
        width: 615px;
        height: 530px;
        background: url(../imgs/cut-spacejoy-umAXneH4GhA-unsplash\ 1.jpg) no-repeat center/100%;
    }
    
    .x-home-page-post-clean-right-clean div:nth-child(2) {
        width: 615px;
        height: 530px;
        background: url(../imgs/cut-ashwini-chaudhary-monty-Iu6parQAO-U-unsplash\ 1.jpg) no-repeat center/100%;
    }
    /* 首頁卡片版 */
    
    .x-home-page-hover-card {
        width: 100%;
        max-width: 1750px;
        min-width: 1230px;
        height: 580px;
        margin: auto;
        margin-bottom: 40px;
    }
    
    .x-home-page-hover-card div {
        margin: auto;
        float: left;
        width: 19%;
        margin: 30px 0.5%;
        height: 0px;
        padding-bottom: 24.98%;
        /* 
    width: 350px;
    height: 513px; */
    }
    
    .x-home-page-hover-card div:nth-child(1) {
        transform: rotate(-15deg) translateX(160px);
        background: url(../imgs/rendy-novantino-_3Pyr85zcE8-unsplash.jpg) no-repeat center/cover;
    }
    
    .x-home-page-hover-card div:nth-child(2) {
        transform: rotate(15deg) translateX(40px);
        background: url(../imgs/toa-heftiba-l_ExpFwwOEg-unsplash\ \(1\).jpg) no-repeat center/cover;
    }
    
    .x-home-page-hover-card div:nth-child(3) {
        transform: rotate(0deg) translateX(-10px);
        background: url(../imgs/katarzyna-grabowska-oA1-rirIJ2E-unsplash.jpg) no-repeat center/cover;
    }
    
    .x-home-page-hover-card div:nth-child(4) {
        transform: rotate(-6deg) translateX(-40px);
        background: url(../imgs/jaco-pretorius-aGZeHyx-jfo-unsplash.jpg) no-repeat center/cover;
    }
    
    .x-home-page-hover-card div:nth-child(5) {
        transform: rotate(15deg) translateX(-160px);
        background: url(../imgs/20220404001923_79-scaled.jpg) no-repeat center/cover;
    }
    /* 首頁三特點介紹 */
    
    .x-home-page-three-element-bg {
        margin: auto;
        width: 100%;
        max-width: 1920px;
        height: 350px;
        background: url(../imgs/living-room-1835923_1920.jpg) no-repeat 100% 80%/cover;
    }
    
    .x-home-page-three-element {
        margin-bottom: 80px;
        margin-top: -175px;
    }
    
    .x-home-page-three-element-out {
        margin: auto;
        width: 1230px;
        background-color: #F1EDEA;
        padding: 100px 93px 133px 93px;
    }
    
    .x-home-page-three-element-out h2 {
        font-weight: bold;
        text-align: center;
        margin-bottom: 80px;
    }
    
    .x-home-page-three-element-txt {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .x-home-page-three-element-txt-single {
        width: 312px;
        height: 320px;
    }
    
    .x-home-page-three-element-txt-single div,
    .x-home-page-three-element-txt-single h3 {
        text-align: center;
        margin-bottom: 30px;
        font-weight: bold;
    }
    /* 四步驟 */
    
    .x-home-page-step-slogan-out {
        margin-bottom: 80px;
    }
    
    .x-home-page-step-slogan {
        width: 100%;
        height: 275px;
        background-color: #F1EDEA;
        padding: 73px 245px 73px 245px;
    }
    
    .x-home-page-step-slogan h2 {
        text-align: center;
        font-weight: bold;
        margin-bottom: 30px;
    }
    
    .x-home-page-step-1-2 {
        width: 100%;
        height: 546px;
        display: flex;
    }
    
    .x-home-page-step-2-4 {
        width: 100%;
        height: 546px;
        display: flex;
        flex-direction: row-reverse;
    }
    
    .x-home-page-step-1-2-txt,
    .x-home-page-step-1-2-img {
        width: 50%;
        height: 100%;
    }
    
    .x-home-page-step-1-2-img {
        background: url(../imgs/arkan-perdana-eKTLh4_u7Ao-unsplash.jpg) no-repeat center/cover;
    }
    
    .x-home-page-step-2-4-img {
        width: 50%;
        height: 100%;
    }
    
    .x-home-page-step-2-4-img {
        background: url(../imgs/tierra-mallorca-rgJ1J8SDEAY-unsplash.jpg) no-repeat center/cover;
    }
    
    .x-home-page-step-1-2-txt div {
        width: 50%;
        height: 50%;
        float: left;
        margin: 0px;
    }
    
    .x-home-page-step-1-2-txt div:nth-child(1),
    .x-home-page-step-1-2-txt div:nth-child(4) {
        padding: 70px 80px;
        background-color: #F1EDEA;
    }
    
    .x-home-page-step-1-2-txt div:nth-child(1) h3,
    .x-home-page-step-1-2-txt div:nth-child(4) h3 {
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .x-home-page-step-1-2-txt div:nth-child(2),
    .x-home-page-step-1-2-txt div:nth-child(3) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .x-home-page-step-1-2-txt div:nth-child(2) img,
    .x-home-page-step-1-2-txt div:nth-child(3) img {
        width: 150px;
        height: 150px;
    }
    /* 瀑布流排版 */
    
    .x-home-page-waterfall-img-out {
        margin-bottom: 80px;
        width: 100%;
    }
    
    .x-home-page-waterfall-img {
        width: 100%;
        display: flex;
    }
    
    .x-home-page-waterfall-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .x-home-page-waterfall-img-left {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
    }
    
    .x-home-page-waterfall-img-right {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: start;
    }
    
    .x-home-page-waterfall-img-left div {
        width: 600px;
        height: 520px;
        margin-bottom: 30px;
        overflow: hidden;
    }
    
    .x-home-page-waterfall-img-left div:nth-child(1) {
        margin-top: 100px;
    }
    
    .x-home-page-waterfall-img-left div:nth-child(3) {
        width: 600px;
        height: 890px;
        margin-bottom: 0px;
    }
    
    .x-home-page-waterfall-img-right div {
        width: 600px;
        height: 520px;
        margin-bottom: 30px;
    }
    
    .x-home-page-waterfall-img-right div:nth-child(2) {
        width: 600px;
        height: 890px;
    }