* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.bold {
    font-weight: bold;
}

h1 {
    font-weight: bold;
    font-size: 48px;
}

h2 {
    font-weight: bold;
    font-size: 32px;
}

h3 {
    font-weight: normal;
    font-size: 24px;
}

p {
    font-size: 16px;
}

.small {
    font-size: 12px;
}

.slogan {
    font-size: 128px;
}

.time {
    font-size: 48px;
}

.alert {
    color: red;
}


/* 以上是文字 ----------------------------*/

.container {
    margin: auto;
    width: 1280px;
    padding: 0 25px;
}

body {
    background-color: #F4F4F4;
}


/* 首頁第一頁開始 */

.x-home-page-slogan {
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    max-height: 1080px;
    margin: auto;
    background: url(../imgs/cut-patrick-perkins-3wylDrjxH-E-unsplash\ 3.jpg) no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.x-slogan {
    margin-top: 180px;
}

.x-slogan h1 {
    font-size: 120px;
    font-weight: 900;
    color: #FEAC00;
    text-shadow: 4px 4px #F4F4F4;
}

.x-slogan h1:nth-child(1) {
    margin-bottom: -50px;
    margin-top: -100px;
}

.x-slogan h1:nth-child(2) {
    margin-bottom: 10px;
}

.x-slogan-small p {
    font-size: 24px;
    font-weight: bold;
    color: #F1EDEA;
}

.x-slogan-small p {
    margin-bottom: 40px;
}

.x-search-post button:nth-child(1) {
    margin-right: 30px;
}

.pc-button-FEAC00 {
    width: 280px;
    height: 60px;
    color: #0E2E3D;
    font-weight: bold;
    font-size: 24px;
    border: none;
    background-color: #FEAC00;
}

.pc-button-F4F4F4 {
    width: 280px;
    height: 60px;
    color: #0E2E3D;
    font-weight: bold;
    font-size: 24px;
    border: none;
    background-color: #F4F4F4;
}


/* 首頁共租介紹開始 */

.x-home-page-introduce-symbiosis {
    width: 100%;
    max-width: 1920px;
    height: 800px;
    margin: auto;
    background: url(../imgs/cut-espolon-tequila-xCsalofaxw4-unsplash\ 1.jpg) no-repeat center/cover;
    padding-top: 188px;
    margin-bottom: 136px;
}


/* 首頁分租介紹開始 */

.x-home-page-introduce-sublease {
    width: 100%;
    max-width: 1920px;
    height: 800px;
    margin: auto;
    background: url(../imgs/living-room-1835923_1920.jpg) no-repeat center/cover;
    padding-top: 188px;
    margin-bottom: 136px;
}


/* 首頁共租以及分租的內文格式 */

.x-container-x-home-page {
    margin: auto;
    width: 1280px;
    padding: 0 25px;
}

.x-introduce-right {
    width: 570px;
    height: 668px;
    background-color: #F1EDEA;
    padding: 80px 100px 80px 100px;
    margin-left: auto;
    margin-right: -102px;
}

.x-introduce-left {
    width: 570px;
    height: 668px;
    background-color: #F1EDEA;
    padding: 80px 100px 80px 100px;
    margin-right: auto;
    margin-left: -102px;
}

.x-introduce-right h2,
.x-introduce-left h2 {
    margin-bottom: 40px;
}

.x-introduce-right p,
.x-introduce-left p {
    letter-spacing: 0%;
}


/* 刊登房屋/清潔服務開始 */

.x-home-page-post-clean {
    width: 1230px;
    height: 696px;
    display: flex;
    margin: auto;
    margin-bottom: 80px;
}

.x-home-page-post-clean-left-post {
    display: flex;
    flex-direction: column;
}

.x-home-page-post-clean-right-clean {
    display: flex;
    flex-direction: column-reverse;
}

.x-home-page-post-clean-left-post div:nth-child(1),
.x-home-page-post-clean-right-clean div:nth-child(1) {
    width: 615px;
    height: 166px;
    background-color: #F1EDEA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.x-home-page-post-clean-left-post div:nth-child(2) {
    width: 615px;
    height: 530px;
    background: url(../imgs/cut-spacejoy-umAXneH4GhA-unsplash\ 1.jpg) no-repeat center/100%;
}

.x-home-page-post-clean-right-clean div:nth-child(2) {
    width: 615px;
    height: 530px;
    background: url(../imgs/cut-ashwini-chaudhary-monty-Iu6parQAO-U-unsplash\ 1.jpg) no-repeat center/100%;
}


/* 首頁卡片版 */